{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<main class="Block-form">
    <span class="retour">
        <a href="{{ path('app_sub_category_index') }}"class="lien-retour">&#8592; Retour</a>
    </span><br>
    <h4>Modifier sous categorie</h4>
    <br>
    {{ include('sub_category/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <br>
    {{ include('sub_category/_delete_form.html.twig') }}
</main>
{% endblock %}
