<form method="post" action="{{ path('app_city_delete', {'id': city.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette sous catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn-sup">Supprimer</button>
</form>
